
/**
 * @file
 * Basic styling for the Commerce Payment module.
 */

/**
 * Add styles to credit card form elements.
 */
#payment-details {
    margin-top: 25px;
}
#payment-details .form-item {
    margin-top: 0;
    max-width: 340px;
}
.commerce-credit-card-start,
.commerce-credit-card-expiration {
  display: inline-block;
}
.form-item-commerce-payment-payment-details-credit-card-code {
  display: inline-block;
  margin-left: 15px;
}

.commerce-credit-card-start .form-item,
.commerce-credit-card-expiration .form-item {
  display: inline-block;
  margin-bottom: 1em;
}

.commerce-month-year-divider {
  margin: 0 3px;
}
